build --cxxopt='-std=c++20' --host_cxxopt='-std=c++20'
common --enable_bzlmod
# Proto warning
build --cxxopt=-Wno-missing-requires

# Required for QT
build --copt="-I/usr/include/x86_64-linux-gnu/qt6"